In [46]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt

In [47]:
data=pd.read_csv('tesla-stock-price.csv')

In [48]:
data.head(5)

         date   close         volume    open    high       low
0       11:34  270.49      4,787,699  264.50  273.88  262.2400
1  2018/10/15  259.59   6189026.0000  259.06  263.28  254.5367
2  2018/10/12  258.78   7189257.0000  261.00  261.99  252.0100
3  2018/10/11  252.23   8128184.0000  257.53  262.25  249.0300
4  2018/10/10  256.88  12781560.0000  264.61  265.51  247.7700

In [49]:
data.describe()

            close        open        high         low
count  757.000000  757.000000  757.000000  757.000000
mean   272.645614  272.760659  277.122776  268.017399
std     58.378585   58.449827   59.194761   57.515736
min    143.670000  142.320000  154.970000  141.050000
25%    219.560000  219.640000  222.569000  216.080000
50%    277.450000  277.625000  280.789900  273.550000
75%    322.690000  321.560000  327.120000  316.560100
max    385.000000  386.690000  389.610000  379.345000

In [50]:
data.shape

(757, 6)

In [57]:
data['volume'] = data['volume'].replace({',': ''}, regex=True).astype(float)

data['date'] = pd.to_datetime(data['date'])
data['date'] = data['date'].astype(int) / 10**9 

features = ['date', 'open', 'high', 'low', 'volume']
X = data[features]
y = data['close']

In [59]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [61]:
model = LinearRegression()
model.fit(X_train, y_train)
predictions = model.predict(X_test)

In [62]:
mse = mean_squared_error(y_test, predictions)
r2 = r2_score(y_test, predictions)

print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')

Mean Squared Error: 7.127425961920859
R-squared: 0.9978594514008232

In [70]:
new_data = pd.DataFrame({
    'date': [pd.to_datetime('2018-9-20').value / 10**9],#10/12/2018	7189257	261	261.99	252.01
    'open': [303],
    'high': [305.98],
    'low': [293],
    'volume': [7332477]
})

new_data['volume'] = new_data['volume'].replace({',': ''}, regex=True).astype(float)
new_data_scaled = scaler.transform(new_data)

new_prediction = model.predict(new_data_scaled)
print(f'Prediction for new data: {new_prediction[0]}')

Prediction for new data: 297.4019803739722